header {
  width: 100%;
}

.global-header {
  background-color: var(--bs-black);
  color: var(--bs-white);
  padding: 0.5em 1em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-left: 10px;
}

.global-header__right {
  display: flex;
  align-items: center;
  height: 25px;
  width: 8%;
  justify-content: space-between;
}
.global-header__right svg {
  width: 20px;
  height: 25px;
}

.search-icon svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#hero-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

#park-header {
 width: 100%;
}

.hero-banner__content {
  position: absolute;
  transform: translate(0%, -105%);
  color: var(--bs-white);
  text-align: center;
  background-color: #00000080;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-banner__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1em;
  color: white;
}
.hero-banner__title:hover {
  color: white;
}

.park-nav {
  background-color: var(--bs-black);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.park-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.park-nav svg {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.park-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--bs-white);
  margin-top: 20px;
  margin-bottom: 20px;
}

.park-nav span {
  margin-bottom: 10px;
}
.hero-banner {
  height: 500px;
}

.hero-banner__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.hero-banner__subtitle span {
  text-align: left;
}

.disclaimer {
  background-color: var(--bs-light);
  padding: 1em;
  margin: 0;
}

.site-title {
  text-decoration: none;
  width: 60%;
}

.site-title h1 {
  color: var(--bs-white);
  font-size: 20px;
  text-decoration: none;
}

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  
}

#global-nav-toggle {
  height: 20px;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
  height: 20px;
}
.global-nav__toggle--open {
  display: none;
  align-items: center;
  height: 20px;
}
.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--open {
  display: flex;
}
.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle {
  display: flex;
  align-items: center;
  height: 20px;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
  height: 20px;
}
.global-nav__toggle--open {
  display: none;
  align-items: center;
  height: 20px;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
  display: none;
}
.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
  display: flex;
}

.global-nav.show {
  max-height: 1000px;
  display: flex;
  flex-direction: column;
}
.icon {
  height: 20px
}
.global-nav__split-button {
  background-color: var(--bs-black);
  border: none;
  padding: 1rem 1rem 1rem 1rem 0rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-nav__split-button a:hover{
color: var(--bs-grey-6);
}
.global-nav__split-button a {
  text-decoration: none;
  color: var(--bs-white);
  width: 50%;
  font-size: 27px;
}
.global-nav__submenu {
  display: none;
  padding-left: 10px;
}
.global-nav__submenu.show {
  display: flex;
  flex-direction: column;
}


.global-nav__submenu a {
  color: var(--bs-white);
  text-decoration: none;
  font-size: 27px;
}
.global-nav__submenu li{
  margin: 10px 0px;
}

.global-nav__split-button__toggle svg {
  width: 50px;
}

.global-nav__list {
  padding-left: 10px;
}

.global-nav__list li {
  list-style: none;
}

.global-nav__section-heading {
  color: var(--bs-chathams-blue-3);
}

@media (min-width: 786px) {
  .global-nav > h2,
  .global-nav__list:first-of-type {
    display: none;
  }
  .global-nav__submenu,
  .global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .global-nav__split-button {
    background-color: inherit;
  }
  .global-nav__split-button > button {
    display: none;
  }
  .global-nav__submenu {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  .global-nav__submenu a {
    padding: 0.625rem;
  }
  .global-nav__split-button a {
    width: 100%;
    margin-bottom: 20px;
  }
}
