@import "partials/variables.css";
@import "partials/global.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/blocks.css";
@import "partials/utilities.css";
@import "home.css";
@import "conditions.css";



.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}


#main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#main h2 {
  font-family: var(--bs-font-serif);
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 500;
} 